* {
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
}

body {
    background: #1b4c56;
    width: 100%;
}

h2 {
    text-align: center;
    margin-top: 25px;
}
hr {
    border: none;
    border-bottom: thin solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    text-align: center;
    padding-top: 25px;
}

h4 {
    margin-bottom: 15px;
    font-weight: 300;
}

#gallery-container {
    text-align: center;
}
.gallery-viewer {
    width: 100%;
}
.gallery-viewer img {
    width: 100%;
}

#gallery ul {
    list-style-type: none;
}
#gallery li {
    display: inline-block;
    padding: 5px;
}

#gallery li img {
    border: thin solid #FFF;
    cursor: pointer;
}
#gallery li img:hover {
    opacity: 0.75;
}
.overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    z-index: 20;
}

.modal-body {
    background: #FFF;
    text-align: center;
    position: absolute;
    z-index: 50;
    top: 0;
    border-radius: 5px;
    border: solid 1px #a8a8a8;
    display: block;
}
.modal-body h2 {
    color: #5d5d5d;
    margin-top: 14px;
    margin-bottom: 7px;
}
.modal-body hr {
    border: none;
    border-bottom: 1px solid #ccc;

}
.modal-close {
    position: absolute;
    right: 5px;
    display: block;
    color: #1b4c56;
    font-size: 11px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #ccc;
    padding: 7px 3px 0 3px;
    border-radius: 50%;
}
.modal-body img {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #1b4c56;
    height: 0;
    width: 0;
    transition: all ease-out 500ms;
}